.footer_theme_position {
  margin: 0 auto;
  padding: 0 0 24px;
}

@media screen and (max-width:1279px) {
  .footer_theme_position {
    padding: 0 48px 24px;
  }
}

@media screen and (max-width:1023px) {
  .footer_theme_position {
    padding: 0 24px 24px;
  }
}

@media screen and (max-width:767px) {
  .footer_theme_position {
    padding-left: 16px;
  }
}