.cover_theme_position {
  margin: 0 auto 92px;
}

@media screen and (max-width:1023px) {
  .cover_theme_position {
    margin: 0 auto 88px;
  }
}

@media screen and (max-width:320px) {
  .cover_theme_position {
    margin:0 auto 64px;
  }
}
