.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 984px;
  max-height: 1005px;
  margin: 56px auto 92px;
}

@media screen and (max-width:1279px) {
  .lead {
  width: 928px;
  height: 962px;
  margin: 48px auto 92px;
  }
}

@media screen and (max-width:1023px) {
  .lead {
    width: 768px;
    height: 862px;
    margin: 48px auto 88px;
  }
}

@media screen and (max-width:767px) {
  .lead {
    width: 320px;
    height: 406px;
    margin: 48px auto 64px;
  }
}
