.place__paragraphs {
  display: grid;
  grid-area: paragraphs;
  align-self: start;
  margin: 0;
  padding: 0;
  line-height: 29.34px;
  font-size: 18px;
  font-weight: 400;
  row-gap:25px;
}

@media screen and (max-width:1023px) {
  .place__paragraphs {
    line-height: 26.08px;
    font-size: 16px;
  }
}
