.footer__links {
  display: flex;
  margin: 0;
  padding: 0;
}

@media screen and (max-width:320px) {
  .footer__links {
    flex-direction: column;
    row-gap: 32px;
    padding: 0 118px 48px 0;
  }
}

