.places_theme_position {
  margin: 0 auto 90px;
}

@media screen and (max-width:1279px) {
  .places_theme_position {
    margin: 0 auto 92px;
  }
}

@media screen and (max-width:1023px) {
  .places_theme_position {
    margin: 0 auto 90px;
  }
}

@media screen and (max-width:767px) {
  .places_theme_position {
    margin: 0 auto 66px;
  }
}