.cover__overlay {
  align-items: center;
  max-width: 1184px;
  width: 100%;
  height: 740px;
  background-image: url(../../../images/__background.jpg);
  opacity:0.5;
  background-position: center;
  background-size: cover;
  color: #fff;
  text-decoration: none;
}

.cover__overlay:hover {
  opacity: 0.2;
  transition: 0.5s;
}

@media screen and (max-width:1279px) {
  .cover__overlay {
    width:1024px;
    height:640px;
  }
}

@media screen and (max-width:1023px) {
  .cover__overlay {
    width:768px;
    height:480px;
  }
}

@media screen and (max-width:767px) {
  .cover__overlay {
    width:320px;
    height:200px;
  }
}
