.place__url-heading {
  margin: 0 0 12px;
  padding: 0;
  max-width: 456px;
  width: 100%;
  height: 12px;
  font-size: 12px;
  font-weight: 400;
}

@media screen and (max-width:1023px) {
  .place__url-heading {
    width:352px;
  }
}

@media screen and (max-width:767px) {
  .place__url-heading {
    width:288px;
  }
}

